---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero.svg";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import construction from "@images/construction-image.avif";
import tools from "@images/docs.svg";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Hubungi Kami"
    url="https://wa.me/6285602977793"
  />

  <HeroSection
    title=`Urus dokumenmu jadi gampang!`
    subTitle="Apostille Dokumen, Legalisasi dan Penerjemah Tersumpah"
    primaryBtn="Layanan Kami"
    primaryBtnURL="/services"
    secondaryBtn="Hubungi Kami"
    secondaryBtnURL="/contact"
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <FeaturesNavs
    title=`Butuh bantuan urusan dokumen? <span class="text-yellow-500 dark:text-yellow-400">TarKamp</span> solusinya!`
    tabs={[
      {
        heading: "Kerahasiaan Terjamin",
        content:
          "Kerahasiaan dokumen Anda adalah prioritas utama kami dengan menerapkan langkah-langkah keamanan maksimal untuk melindungi informasi pribadi dan bisnis Anda.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Pengakuan Internasional",
        content:
          "Dokumen yang telah melalui proses apostille memiliki kekuatan hukum dan pengakuan internasional dengan diterbitkannya sebuah sertifikat apostille.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Kemudahan Proses Pengurusan",
        content:
          "Kami menawarkan layanan yang dirancang untuk memberikan kemudahan bagi klien kami. Proses pengurusan dokumen menjadi lebih mudah dan cepat, menghemat waktu dan tenaga Anda.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />


  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Melayani dengan sepenuh hati"
    subTitle="TarKamp adalah Layanan legalisasi dokumen, apostille dan penerjemah tersumpah"
    url="https://wa.me/6285602977793"
  />
</MainLayout>
